@page "/rückgabeformulare"
@using AhVerwaltung.Model
@using AhVerwaltung.Data
@inject DialogService DialogService

<PageTitle>Rückgabeformulare</PageTitle>

<RadzenDataGrid Data="@dataRückgabe" TItem="Model.Rückgabeformular" AllowPaging="true" PageSize="20" AllowSorting="true" AllowFiltering="true" AllowColumnResize="true"
                FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" FilterMode="FilterMode.Simple">
    <EmptyTemplate>
        <p style="color: lightgrey; font-size: 24px; text-align: center; margin: 2rem; height:100%">No records to display.</p>
    </EmptyTemplate>
    <HeaderTemplate>
        <RadzenRow>
            <RadzenColumn style="width:99vw;">
                <div style="float:right">
                    <RadzenButton ButtonStyle="ButtonStyle.Success" Icon="note_add" Click="NeuesRückgabeFormular" Text="Neues Rückgabeformular" />
                </div>
            </RadzenColumn>
        </RadzenRow>
    </HeaderTemplate>
    <Columns>
        <RadzenDataGridColumn TItem="Model.Rückgabeformular" Property="RückgabeFormularNr" Title="RückgabeformularNr" />
        <RadzenDataGridColumn TItem="Model.Rückgabeformular" Property="Anhänger.Kennzeichen" Title="Anhänger">
            <Template>
                <RadzenButton Variant="Variant.Text" Style="width:100%; display:block" Text=@context.RückgabeFormularNr.ToString() ButtonStyle="ButtonStyle.Secondary" />
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="Model.Rückgabeformular" Property="Vertrag.VertragsNr" Title="Vertragsnr">
            <Template>
                <RadzenButton Variant="Variant.Text" Style="width:100%; display:block" Text=@context.Vertrag.VertragsNr.ToString() ButtonStyle="ButtonStyle.Secondary" />
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="Model.Rückgabeformular" Property="Vertragskunden.Kurzname" Title="Vertragskunden">
            <Template>
                <RadzenButton Variant="Variant.Text" Style="width:100%; display:block" Text=@context.Vertrag.Kdnr.ToString() ButtonStyle="ButtonStyle.Secondary" />
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="Model.Rückgabeformular" Property="Austrittsdatum" Title="Austrittsdatum" FormatString="{0:d}"></RadzenDataGridColumn>
    </Columns>
</RadzenDataGrid>

@code {
    private bool rückgabeModus = true;
    private List<Model.Rückgabeformular> dataRückgabe = new();
    private string selectedKunde = "Test";

    protected override async Task OnInitializedAsync()
    {
        foreach (Rückgabeformular rückgabe in RückgabeformularData.GetRueckgabeformular(12))
        {
            dataRückgabe.Add(rückgabe);
        }
        await Task.CompletedTask;
    }

    private async Task NeuesRückgabeFormular()
    {
        await DialogService.OpenAsync("Neues Rückgabeformular", ds =>
    @<div>
        <RadzenColumn Size="12" SizeSM="6">
            <RadzenStack>
                <RadzenFormField Text="Rückgabeformular" Style="width: 100%;">
                    <RadzenTextBox Value="123" Style="width: 100%;" />
                </RadzenFormField>
                <RadzenFormField Text="Anhänger" Style="width: 100%;">
                    <RadzenTextBox Style="width: 100%;" />
                </RadzenFormField>
                <RadzenFormField Text="Vertrag" Style="width: 100%;">
                    <RadzenTextBox Style="width: 100%;" />
                </RadzenFormField>
                <RadzenFormField Text="Vertragskunden" Style="width: 100%;">
                    <RadzenTextBox Style="width: 100%;" />
                </RadzenFormField>
                <RadzenButton ButtonStyle="ButtonStyle.Success" Click="ds.Close" Icon="note_add" Text="Bestätigen" />
            </RadzenStack>
        </RadzenColumn>
    </div>, new DialogOptions());
    }

}
