@page "/verträge"
@using AhVerwaltung.Model
@using AhVerwaltung.Data
@inject DialogService DialogService

<PageTitle>Anhängerverwaltung</PageTitle>


<RadzenDataGrid Data="@dataVerträge" TItem="Vertrag" AllowPaging="true" PageSize="20" AllowSorting="true" AllowFiltering="true" AllowColumnResize="true"
            FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" FilterMode="FilterMode.Simple">
    <EmptyTemplate>
        <p style="color: lightgrey; font-size: 24px; text-align: center; margin: 2rem; height:100%">No records to display.</p>
    </EmptyTemplate>
    <HeaderTemplate>
        <RadzenRow>
            <RadzenColumn style="width:99vw;">
                <div style="float:right">
                    <RadzenButton ButtonStyle="ButtonStyle.Success" Icon="note_add" Click="NeuerVertrag" Text="Neuer Vertrag" />
                </div>
            </RadzenColumn>
        </RadzenRow>
    </HeaderTemplate>
    <Columns>
        <RadzenDataGridColumn TItem="Vertrag" Property="VertragsNr" Title="VertragsNr" />
        <RadzenDataGridColumn TItem="Vertrag" Property="AnhängerNr" Title="AnhängerNr" />
        <RadzenDataGridColumn TItem="Vertrag" Property="RückgabeformularNr" Title="RückgabeformularNr" />
        <RadzenDataGridColumn TItem="Vertrag" Property="Kdnr" Title="Kdnr" />
    </Columns>
</RadzenDataGrid>


@code{
    private List<Vertrag> dataVerträge = new();
    private string selectedKunde = "Test";

    protected override async Task OnInitializedAsync()
    {
        VerträgeData verträgeData = new();
        dataVerträge = verträgeData.GetVerträge(50);
        await Task.CompletedTask;
    }

    private async Task NeuerVertrag()
    {
        await DialogService.OpenAsync("Neuer Vertrag", ds =>
        @<div>
            <RadzenFormField Text="Vertrags Nr" Style="width:100%;">
                <RadzenTextBox Disabled=true Value="40" Style="width:100%;" />
            </RadzenFormField>
            <RadzenFormField Text="Anhänger" Style="width:100%;">
                <RadzenTextBox Style="width:100%;" />
            </RadzenFormField>
            <RadzenFormField Text="Kunden" Style="width:100%;">
                <RadzenTextBox Style="width:100%;" />
            </RadzenFormField>
        </div>, new DialogOptions());
    }
}