@inherits LayoutComponentBase

<PageTitle>AhVerwaltung</PageTitle>


<RadzenMenu Style="height:3vh;">
    <RadzenMenuItem Text="Home" Icon="home" Path="" />
    <RadzenMenuItem Text="Verträge" Icon="description" Path="Verträge" />
    <RadzenMenuItem Text="Kunden" Icon="people" Path="Kunden" />
    <RadzenMenuItem Text="Anhänger" Icon="drive_eta" Path="Anhänger" />
    <RadzenMenuItem Text="Rückgabeformulare" Icon="description" Path="Rückgabeformulare" />
    <RadzenMenuItem Text="Login" Icon="lock" Style="float:right" Path="Login" />
</RadzenMenu>
<body style="height:97vh">
    @Body
</body>
<RadzenDialog/>
<RadzenNotification/>
<RadzenContextMenu/>
<RadzenTooltip/>
